  body {
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
  }
  .nav-bar {
    background-color: #2563EB;
    padding: 45px 30px;
    position: relative; 
    top: 0;
    align-items: center;
  }
  .nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  justify-content: space-between;
  }

  .nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }
  .nav-bar a:hover {
    color: #FFD700;
  }
  .hamburger {
  display: none;
  cursor: pointer;
  }

  .hamburger img {
    width: 22px;
    height: 22px;
    }
    @media (max-width: 768px) {

    nav {
    position: relative;
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 50%;
      right: 30px;
      background: white;
      padding: 10px;
      border-radius: 8px;
      }
      .nav-links {
      display: none;
      position: absolute;
      top: 70px;
      right: 20px;
      background-color: #2563EB;
      flex-direction: column;
      width: 220px;
      padding: 15px;
      border-radius: 10px;
      }  
      .nav-links li {
      margin: 10px 0;
      }
      .nav-links a {
       color: white;
       font-size: 16px;
      }
      nav:hover .nav-links {
      display: flex;
      }
    }
    .container{
    max-width: 350px;
    background-color: #fff;
    margin: 80px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

h2{
    text-align: center;
    color: #185a9d;
}


input{
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}


button{
    width: 100%;
    padding: 12px;
    margin-top: 18px;
    background-color: #43cea2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #36b18c;
}


#result{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

@media (max-width: 480px){
    .card{
        margin: 40px 15px;
    }
}
    .footer {
      text-align: center;
      padding: 10px;
      background-color: #696FC7;
      color: white;
      margin-top: 20px;
    }

 