.nav-bar {
      background-color: #212A3E;
      padding: 45px 30px;
      position: sticky;
      top: 0;
      align-items: center;
      height: auto;
    }

    nav .logo {
      font-size: 35px;
      font-weight: 700;
    }

    .web-name {
      font-size: 25px;
      margin: 10px;
      margin-right: 350px;
      color: rgb(255, 255, 255);
    }

    .nav-bar ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 10px 20px;
      justify-content: space-around;
    }

    .nav-bar a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin-right: 30px;
    }

    .nav-bar span {
      color: white;
    }

    .nav-items {
      margin-left: 10px;
      margin-right: 100px;
      text-decoration: none;
      color: white;
      font-size: 20px;
      margin-left: 50px;
    }

    .nav-bar a:hover {
      color: #FFD700;
    }

    .hamburger {
      display: none;
      cursor: pointer;
    }

    .hamburger img {
      width: 22px;
      height: 22px;
    }

    @media (max-width: 768px) {

      nav {
        position: relative;
      }

      .hamburger {
        display: block;
        position: absolute;
        top: 50%;
        right: 30px;
        background: white;
        padding: 10px;
        border-radius: 8px;
      }

      .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #212A3E;
        flex-direction: column;
        width: 220px;
        padding: 15px;
        border-radius: 10px;
      }

      .nav-links li {
        margin: 10px 0;
      }

      .nav-links a {
        color: white;
        font-size: 16px;
      }

      nav:hover .nav-links {
        display: flex;
      }
    }

.container {
    width: 450px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border-style: 10px;
    margin-top: 50px;
    height: 520px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    z-index: 1000;

}

.container:hover {
    box-shadow: 3px 3px 5px 2px #ac9d9d;

}

.heading {
    text-align: center;
    color: blue;
}

.input {
    width: 400px;
    margin-left: 200px;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}

.input:hover {
    box-shadow: 0px 0px 2px 2px;
}


.btn {
    width: 300px;
    margin-top: 50px;
    margin-left: 80px;
    background: rgb(87, 87, 244);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

.btn:hover {
    box-shadow: 0px 0px 1px 1px rgb(87, 87, 244);
    font-size: 15px;
}

.select {
    width: 400px;
    margin-left: 200px;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    margin: 13px;
}

.select:hover {
    box-shadow: 0px 0px 2px 2px
}
   .footer {
      background-color: var(--footer-bg);
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 40px;

    }

    .footer a {
      color: white;
      text-decoration: none;
    }

    .footer a:hover {
      color: #FFD700;
    }


    @media(max-width:768px) {
      .nav-bar ul {
        flex-direction: column;
        gap: 10px;
      }

      .card-container,
      .diet-plan {
        flex-direction: column;
        align-items: center;
      }
    }

    .fitness-footer {
      background-color: #394867;
      color: #ffffff;
      padding: 30px 20px;
      margin-top: 30px;



    }

    .footer-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    .footer-box {
      width: 30%;
      margin-bottom: 20px;
    }

    .footer-box h2,
    .footer-box h3 {
      color: #F2AEBB;
    }

    .footer-box p {
      line-height: 1.5;
      margin: 6px 0;
    }

    .footer-box ul {
      list-style-type: none;
      padding: 0;
    }

    .footer-box ul li {
      margin-bottom: 8px;
    }

    .footer-end {
      text-align: center;
      margin-top: 15px;
      padding-top: 10px;
      border-top: 1px solid #A7AAE1;
      font-size: 14px;

    }
.footer a:hover {
    color:#FFD700 ;
  }