        :root {
            --bg-color: #F1F6F9;
            --card-color: #ffffff;
            --text-color: #000000;
            --btn-color: #9BA4B5;
        }


        .dark{
            background-color:  #1B262C;
            color:#000;
        }

        body.dark {
            --bg-color:#1B262C;
            
            --card-color:#F1F6F9 ;
            --text-color: #ffffff;
            --btn-color: #9BA4B5;
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #F1F6F9;
            color: var(--text-color);
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        
    :root {
      --bg-color: #F1F6F9;
      --text-color: #000;
      --nav-bg: #212A3E;
      --card-bg: #9BA4B5;
      --section-bg: #E3D4B9;
      --footer-bg: #394867;
    }

    .dark-theme {
      --bg-color: #1B262C;
      --text-color: #000;
      --nav-bg: #212A3E;
      --card-bg: #1e293b;
      --section-bg: #334155;
      --footer-bg: #394867;
    }

    body {
      margin: 0;
      background-color: var(--bg-color);
      color: var(--text-color);
      transition: 0.3s;
      font-family: Arial, sans-serif;
    }

    .nav-bar {
      background-color: #212A3E;
      padding: 45px 30px;
      position: sticky;
      top: 0;
      align-items: center;
      height: auto;
    }

    nav .logo {
      font-size: 35px;
      font-weight: 700;
    }

    .web-name {
      font-size: 25px;
      margin: 10px;
      margin-right: 350px;
      color: rgb(255, 255, 255);
    }

    .nav-bar ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 10px 20px;
      justify-content: space-around;
    }

    .nav-bar a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin-right: 30px;
    }

    .nav-bar span {
      color: white;
    }

    .nav-items {
      margin-left: 10px;
      margin-right: 100px;
      text-decoration: none;
      color: white;
      font-size: 20px;
      margin-left: 50px;
    }

    .nav-bar a:hover {
      color: #FFD700;
    }

    .hamburger {
      display: none;
      cursor: pointer;
    }

    .hamburger img {
      width: 22px;
      height: 22px;
    }

    @media (max-width: 768px) {

      nav {
        position: relative;
      }

      .hamburger {
        display: block;
        position: absolute;
        top: 50%;
        right: 30px;
        background: white;
        padding: 10px;
        border-radius: 8px;
      }

      .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #212A3E;
        flex-direction: column;
        width: 220px;
        padding: 15px;
        border-radius: 10px;
      }

      .nav-links li {
        margin: 10px 0;
      }

      .nav-links a {
        color: white;
        font-size: 16px;
      }

      nav:hover .nav-links {
        display: flex;
      }
    }


        .container {
            background: var(--card-color);
            padding: 25px;
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            margin-top: 15  0px;
            padding: 20px;
            margin-top: 180px;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input,
        select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        button {
            width: 100%;
            margin-top: 15px;
            padding: 12px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: var(--btn-color);
            color: white;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.9;
        }

        .result {
            margin-top: 15px;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }

       

       .nav-bar {
         background-color: #212A3E;
         padding: 45px 30px;
         position: fixed;
         top: 0;
         align-items: center;
         z-index: 1000;
         width:100%;
        
    }
   .nav-bar ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 10px 20px;
        justify-content: space-between;
   }
    .nav-bar a {
       text-decoration: none;
       color: white;
       font-size: 18px;
       font-weight: bold;
       margin-right: 30px;
      }

        .nav-bar a:hover {
         color: #FFD700;
       }

        .fitness-footer {
  background-color:  #394867; 
  color: #ffffff;
  padding: 30px 20px;
  position:absolute;
  width:100%;
  margin-top: 1200px;
  

}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-box {
  width: 30%;
  margin-bottom: 20px;
}

.footer-box h2,
.footer-box h3 {
  color: #F2AEBB;
}

.footer-box p {
  line-height: 1.5;
  margin: 6px 0;
}

.footer-box ul {
  list-style-type: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 8px;
 
}

.footer-end {
  text-align: center;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #A7AAE1;
  font-size: 14px;
}
.footer-box ul li a{
  color:white;
}