body {
    font-family: Arial;
    background: #f2f2f2;
}

.nav-bar {
    background-color: #2563EB;
    padding: 45px 30px;
    position: sticky;
    top: 0;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
    justify-content: space-between;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
}

.nav-bar a:hover {
    color: #FFD700;
}

.container {
    width: 450px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border-style: 10px;
    margin-top: 50px;
    height: 520px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    z-index: 1000;

}

.container:hover {
    box-shadow: 3px 3px 5px 2px #ac9d9d;

}

.heading {
    text-align: center;
    color: blue;
}

.input {
    width: 400px;
    margin-left: 200px;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}

.input:hover {
    box-shadow: 0px 0px 2px 2px;
}


.btn {
    width: 300px;
    margin-top: 50px;
    margin-left: 80px;
    background: rgb(87, 87, 244);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

.btn:hover {
    box-shadow: 0px 0px 1px 1px rgb(87, 87, 244);
    font-size: 15px;
}

.select {
    width: 400px;
    margin-left: 200px;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    margin: 13px;
}

.select:hover {
    box-shadow: 0px 0px 2px 2px
}
  .footer{
    background-color: #2563EB;
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 3rem;
    border-top: 3px solid var(--rosewater);
  }

  .footer p {
    margin: 0.5rem 0;
    color: white;
  }

  .footer a {
    color: white;
    margin: 0 0.8rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
.footer a:hover {
    color:#FFD700 ;
  }