
    :root {
      --bg-color: #F1F6F9;
      --text-color: #000;
      --nav-bg: #212A3E;
      --card-bg: #9BA4B5;
      --section-bg: #E3D4B9;
      --footer-bg: #394867;
    }

    .dark-theme {
      --bg-color: #1B262C;
      --text-color: #000;
      --nav-bg: #212A3E;
      --card-bg: #1e293b;
      --section-bg: #334155;
      --footer-bg: #394867;
    }

    body {
      margin: 0;
      background-color: var(--bg-color);
      color: var(--text-color);
      transition: 0.3s;
      font-family: Arial, sans-serif;
    }

    .nav-bar {
      background-color: #212A3E;
      padding: 45px 30px;
      position: sticky;
      top: 0;
      align-items: center;
      height: auto;
    }

    nav .logo {
      font-size: 35px;
      font-weight: 700;
    }

    .web-name {
      font-size: 25px;
      margin: 10px;
      margin-right: 350px;
      color: rgb(255, 255, 255);
    }

    .nav-bar ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 10px 20px;
      justify-content: space-around;
    }

    .nav-bar a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin-right: 30px;
    }

    .nav-bar span {
      color: white;
    }

    .nav-items {
      margin-left: 10px;
      margin-right: 100px;
      text-decoration: none;
      color: white;
      font-size: 20px;
      margin-left: 50px;
    }

    .nav-bar a:hover {
      color: #FFD700;
    }

    .hamburger {
      display: none;
      cursor: pointer;
    }

    .hamburger img {
      width: 22px;
      height: 22px;
    }

    @media (max-width: 768px) {

      nav {
        position: relative;
      }

      .hamburger {
        display: block;
        position: absolute;
        top: 50%;
        right: 30px;
        background: white;
        padding: 10px;
        border-radius: 8px;
      }

      .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #212A3E;
        flex-direction: column;
        width: 220px;
        padding: 15px;
        border-radius: 10px;
      }

      .nav-links li {
        margin: 10px 0;
      }

      .nav-links a {
        color: white;
        font-size: 16px;
      }

      nav:hover .nav-links {
        display: flex;
      }
    }

    .toggle-btn {
      background: #FFD700;
      border: none;
      padding: 8px 15px;
      border-radius: 20px;
      cursor: pointer;
      font-weight: bold;
    }

    .heading {

      text-align: center;
      padding: 40px;
      max-width: 1200px;
      margin: 20px auto;
      background-color: #9BA4B5;
    }

    .section-title {

      width: 400px;
      margin: 60px auto 20px;
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      background-color: #9BA4B5;
    }


    .card-container,
    .diet-plan {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      max-width: 1500px;
      margin: auto;
      flex-direction: row;

      height: 1000px;
    }

    .diet-plan {


      height: 450px;
    }


    .card,
    .plan {

      width: 350px;
      margin: 20px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      background-color: #fff;


    }

    .plan {
      height: 350px;
    }

    .card:hover,
    .plan:hover {
      transform: translateY(-8px);
    }

    .card-image {
      display: block;
      margin: 0 auto;
      height: 200px;
      width: 350px;
    }

    .diet-image {
      height: 100px;
      width: 150px;
      display: block;
      margin: 0 auto;
    }

    .card-container {
      display: flex;
      flex-direction: row;

    }

    .link {
      font-size: 20px;
    }




    .card {
      height: 420px;
      width: 350px;
  
      margin: 20px;
      background: #fff;
      padding: 25px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      justify-content: space-evenly;
      font-size: 18px;
      border-radius: 5px;
    }

   


    .card:hover {
      transform: translateY(-8px);
    }

    .point {
      text-align: center;
      margin-top: 10px;
    }

    .content {
      font-size: 18px;

    }

    .footer {
      background-color: var(--footer-bg);
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 40px;

    }

    .footer a {
      color: white;
      text-decoration: none;
    }

    .footer a:hover {
      color: #FFD700;
    }


    @media(max-width:768px) {
      .nav-bar ul {
        flex-direction: column;
        gap: 10px;
      }

      .card-container,
      .diet-plan {
        flex-direction: column;
        align-items: center;
      }
    }

    .fitness-footer {
      background-color: #394867;
      color: #ffffff;
      padding: 30px 20px;
      margin-top: 30px;



    }

    .footer-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    .footer-box {
      width: 30%;
      margin-bottom: 20px;
    }

    .footer-box h2,
    .footer-box h3 {
      color: #F2AEBB;
    }

    .footer-box p {
      line-height: 1.5;
      margin: 6px 0;
    }

    .footer-box ul {
      list-style-type: none;
      padding: 0;
    }

    .footer-box ul li {
      margin-bottom: 8px;
    }

    .footer-end {
      text-align: center;
      margin-top: 15px;
      padding-top: 10px;
      border-top: 1px solid #A7AAE1;
      font-size: 14px;

    }
    @media (max-width: 768px) {
    .card-container,
  .diet-plan {
    flex-direction: column;
    align-items: center;
    height: auto; 
  }

  
  .card,
  .plan {
    width: 90%;
    height: auto;
    font-size: 16px;
  }

  .card-image {
    width: 100%;
    height: auto;
  }

  .diet-image {
    width: 120px;
    height: auto;
  }
    }