body {
    margin: 0;
    padding: 0;
    background-color: #F1F6F9;
}

.nav-bar {
  background-color: #212A3E;
    padding: 45px 30px;
    position: sticky; 
    top: 0;
    align-items: center;
    height: auto;
}
.nav-logo {
    font-size: 35px;
    font-weight: 700;
  }

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  justify-content: space-around;
}
.web-name{
    font-size: 25px;
    margin: 10px;
    margin-right: 350px;
    color: rgb(255, 255, 255);
  }

.brand-name {
  color: white;
  font-size: 22px;
  margin-right: 40px;
}
.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }
  .nav-bar span{
    color: white;
  }

.nav-items {
   margin-left: 10px;
    margin-right: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 50px;
}

.nav-items:hover {
  color: #FFD700;
}
 .hamburger {
  display: none;
  cursor: pointer;
  }

  .hamburger img {
    width: 22px;
    height: 22px;
    }
    @media (max-width: 768px) {

    nav {
    position: relative;
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 50%;
      right: 30px;
      background: white;
      padding: 10px;
      border-radius: 8px;
      }
      .nav-links {
      display: none;
      position: absolute;
      top: 70px;
      right: 20px;
      background-color: #212A3E;
      flex-direction: column;
      width: 220px;
      padding: 15px;
      border-radius: 10px;
      }  
      .nav-links li {
      margin: 10px 0;
      }
      .nav-links a {
       color: white;
       font-size: 16px;
      }
      nav:hover .nav-links {
      display: flex;
      }
    }

.hero {
  margin-top: 50px;
  background-color: #1447a5;
  text-align: center;
  padding: 60px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.hero h1 {
  margin: 0;
  font-size: 36px;
  color:#ffffff;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
  color:#ffffff;
}

.features {
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 200px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.feature-card {
  background-color: #9BA4B5;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-6px);
}

.feature-card img {
  height: 60px;
  margin-bottom: 15px;
}

.feature-card h3 {
  margin: 10px 0;
}

.why-choose {
  max-width: 900px;
  margin: 10px auto;
  background-color: #9BA4B5;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}
.section-box {
  background-color: #1447a5;
  max-width: 1100px;
  margin: auto;
  padding: 40px;
  border-radius: 25px;
}

.fitness-footer {
  background-color: #394867;
  color: white;
  padding: 0px 0px;
}

.fitness-footer {
    background-color: #394867; 
    color: #ffffff;
    padding: 30px 20px;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-box {
    width: 30%;
    margin-bottom: 20px;
  }

  .footer-box h2,
  .footer-box h3 {
    color: #ffffff;
  }

  .footer-box p {
    line-height: 1.5;
    margin: 6px 0;
  }

  .footer-box ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-box ul li {
    margin-bottom: 8px;
  }

  .footer-end {
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #A7AAE1;
    font-size: 14px;
  }
    .fitness-footer a,
  .fitness-footer a:visited {
    color: #F1F6F9 !important;
    text-decoration: none;
    font-weight: 500;
  }

  .fitness-footer a:hover {
    color: #FFD700 !important;
    text-decoration: underline;
  }

@media (max-width: 768px) {
  .nav-bar ul {
    flex-direction: column;
  }

  .footer-box {
    width: 100%;
    text-align: center;
  }
}