body {
    margin: 0;
    padding: 0;
    background-color: #F1F6F9;
  }
  .nav-bar {
    background-color: #212A3E;
    padding: 45px 30px;
    position: sticky; 
    top: 0;
    align-items: center;
    height: auto;
  }
    nav .logo {
    font-size: 35px;
    font-weight: 700;
  }
  .web-name{
    font-size: 25px;
    margin: 10px;
    margin-right: 350px;
    color: rgb(255, 255, 255);
  }
  .nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  justify-content: space-around;
  }

  .nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }
  .nav-bar span{
    color: white;
  }
  .nav-items{
    margin-left: 10px;
    margin-right: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 50px;
  }
  .nav-bar a:hover {
    color: #FFD700;
  }
  .hamburger {
  display: none;
  cursor: pointer;
  }

  .hamburger img {
    width: 22px;
    height: 22px;
    }
    @media (max-width: 768px) {

    nav {
    position: relative;
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 50%;
      right: 30px;
      background: white;
      padding: 10px;
      border-radius: 8px;
      }
      .nav-links {
      display: none;
      position: absolute;
      top: 70px;
      right: 20px;
      background-color: #212A3E;
      flex-direction: column;
      width: 220px;
      padding: 15px;
      border-radius: 10px;
      }  
      .nav-links li {
      margin: 10px 0;
      }
      .nav-links a {
       color: white;
       font-size: 16px;
      }
      nav:hover .nav-links {
      display: flex;
      }
    }
        .container{
            max-width: 800px;
            margin: 40px auto;
            background-color: white;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 8px 15px rgba(0,0,0,0.1);
        }

        h1{
            text-align: center;
            color: #2c7be5;
        }

        h3{
            margin-top: 20px;
            color: #333;
        }

        p{
            line-height: 1.7;
            color: #555;
        }

        @media (max-width: 480px){
            .container{
                margin: 20px;
                padding: 20px;
            }
        }
     .fitness-footer {
  background-color: #394867; 
  color: #ffffff;
  padding: 30px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-box {
  width: 30%;
  margin-bottom: 20px;
  
}

.footer-box h2,
.footer-box h3 {
  color: #9BA4B5;
}

.footer-box p {
  line-height: 1.5;
  margin: 6px 0;
  color: white;
}

.footer-box ul {
  list-style-type: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 8px;
}

.footer-end {
  text-align: center;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #A7AAE1;
  font-size: 14px;
}
 
  .fitness-footer a,
  .fitness-footer a:visited {
    color: #F1F6F9 !important;
    text-decoration: none;
    font-weight: 500;
  }

  .fitness-footer a:hover {
    color: #FFD700 !important;
    text-decoration: underline;
  }
.theme-toggle{
   width: 100px;
   border: 1px solid black;
   border-radius: 50px;
   padding: 2px 10px;
   cursor: pointer;
   position: fixed;
   top: 10px;
   right: 10px;
   background-color: white;
   color: #000;
  }

  .theme-toggle-light{
    border: 1px solid orange;
  }

  .theme-toggle-dark{
  border: 1px solid #fff;
  background-color: #000;
  }
  .ico-dark{
  visibility: hidden;
  }
  body.dark {
    background-color: #1B262C;
    color: #ffffff;
  }
  body.dark .nav-bar {
    background-color: #212A3E;
  }
  .theme-toggle:hover{
  background-color: white ;
  color: black;
}
  body.dark .container {
    background-color: #9BA4B5;
    color: #1B262C;
  }
  body.dark .container h1 {
    color: #1B262C;
  }
  body.dark .fitness-footer {
    background-color: #394867;
    color: #ffffff;
  }
  body.dark .fitness-footer a {
    color: #F1F6F9 !important;
  }



