  body {
    margin: 0;
    padding: 0;
    background-color: #F1F6F9;
  }
  .nav-bar {
    background-color: #212A3E;
    padding: 45px 30px;
    position: sticky; 
    top: 0;
    align-items: center;
    height: auto;
  }
    nav .logo {
    font-size: 35px;
    font-weight: 700;
  }
  .web-name{
    font-size: 25px;
    margin: 10px;
    margin-right: 350px;
    color: rgb(255, 255, 255);
  }
  .nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  justify-content: space-around;
  }

  .nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }
  .nav-bar span{
    color: white;
  }
  .nav-items{
    margin-left: 10px;
    margin-right: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 50px;
  }
  .nav-bar a:hover {
    color: #FFD700;
  }
  .hamburger {
  display: none;
  cursor: pointer;
  }

  .hamburger img {
    width: 22px;
    height: 22px;
    }
    @media (max-width: 768px) {

    nav {
    position: relative;
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 50%;
      right: 30px;
      background: white;
      padding: 10px;
      border-radius: 8px;
      }
      .nav-links {
      display: none;
      position: absolute;
      top: 70px;
      right: 20px;
      background-color: #212A3E;
      flex-direction: column;
      width: 220px;
      padding: 15px;
      border-radius: 10px;
      }  
      .nav-links li {
      margin: 10px 0;
      }
      .nav-links a {
       color: white;
       font-size: 16px;
      }
      nav:hover .nav-links {
      display: flex;
      }
    }

      .workout-plans{
      margin-top: 50px;
      background: #1447a5;
      color: white;
      text-align: center;
      padding: 10px 10px;
      border-radius: 0px 0px;
      box-shadow: 0 4px 15px #0000001a;
      }
      .card-container {
      max-width: 1100px;
      margin: 40px auto;
      padding: 20px;

      display: flex;         
      gap: 30px;
      justify-content: center;
      flex-wrap: wrap;      
    }

    .card {
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 250px;
      padding: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      transition: transform 0.2s;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      margin-bottom: 15px;
      border-radius: 8px;
    }

    .card h2 {
      font-size: 20px;
      margin: 10px 0;
      color: #444;
    }

    .card p {
      color: #666;
      font-size: 14px;
      line-height: 1.6;
    }

  
    .fitness-footer {
  background-color: #394867; 
  color: #ffffff;
  padding: 30px 20px;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-box {
    width: 30%;
    margin-bottom: 20px;
  }
  .footer-box h2,
  .footer-box h3 {
    color: #ffffff;
  }

  .footer-box p {
    line-height: 1.5;
    margin: 6px 0;
  }
    .footer-box ul li a {
    text-decoration: none;   
    color: #ffffff;            
    cursor: default;            
    pointer-events: none;      
  }
  .footer-box ul li a:hover {
  color: #ffffff;
  }

  .footer-end {
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ffffff;
    font-size: 14px;
  }

  .theme-toggle{
   width: 100px;
   border: 1px solid black;
   border-radius: 50px;
   padding: 2px 10px;
   cursor: pointer;
   position: fixed;
   top: 10px;
   right: 10px;
  }

  .theme-toggle-light{
    border: 1px solid orange;
  }

  .theme-toggle-dark{
  border: 1px solid #fff;
  background-color: #000;
  }
  .ico-dark{
  visibility: hidden;
  }

