body {
    margin: 0;
    padding: 0;
    background-color: #F1F6F9;
  }
  .nav-bar {
    background-color: #212A3E;
    padding: 45px 30px;
    position: sticky; 
    top: 0;
    align-items: center;
    height: auto;
  }
    nav .logo {
    font-size: 35px;
    font-weight: 700;
  }
  .web-name{
    font-size: 25px;
    margin: 10px;
    margin-right: 350px;
    color: rgb(255, 255, 255);
  }
  .nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  justify-content: space-around;
  }

  .nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }
  .nav-bar span{
    color: white;
  }
  .nav-items{
    margin-left: 10px;
    margin-right: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 50px;
  }
  .nav-bar a:hover {
    color: #FFD700;
  }
  .hamburger {
  display: none;
  cursor: pointer;
  }

  .hamburger img {
    width: 22px;
    height: 22px;
    }
    @media (max-width: 768px) {

    nav {
    position: relative;
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 50%;
      right: 30px;
      background: white;
      padding: 10px;
      border-radius: 8px;
      }
      .nav-links {
      display: none;
      position: absolute;
      top: 70px;
      right: 20px;
      background-color: #212A3E;
      flex-direction: column;
      width: 220px;
      padding: 15px;
      border-radius: 10px;
      }  
      .nav-links li {
      margin: 10px 0;
      }
      .nav-links a {
       color: white;
       font-size: 16px;
      }
      nav:hover .nav-links {
      display: flex;
      }
    }