body {
    margin: 0;
    padding: 0;
    background-color: #F1F6F9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .nav-bar {
    background-color: #212A3E;
    padding: 45px 30px;
    position: sticky; 
    top: 0;
    align-items: center;
    height: auto;
  }
    nav .logo {
    font-size: 35px;
    font-weight: 700;
  }
  .web-name{
    font-size: 25px;
    margin: 10px;
    margin-right: 350px;
    color: rgb(255, 255, 255);
  }
  .nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  justify-content: space-around;
  }

  .nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }
  .nav-bar span{
    color: white;
  }
  .nav-items{
    margin-left: 10px;
    margin-right: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 50px;
  }
  .nav-bar a:hover {
    color: #FFD700;
  }
  .hamburger {
  display: none;
  cursor: pointer;
  }

  .hamburger img {
    width: 22px;
    height: 22px;
    }
    @media (max-width: 768px) {

    nav {
    position: relative;
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 50%;
      right: 30px;
      background: white;
      padding: 10px;
      border-radius: 8px;
      }
      .nav-links {
      display: none;
      position: absolute;
      top: 70px;
      right: 20px;
      background-color: #212A3E;
      flex-direction: column;
      width: 220px;
      padding: 15px;
      border-radius: 10px;
      }  
      .nav-links li {
      margin: 10px 0;
      }
      .nav-links a {
       color: white;
       font-size: 16px;
      }
      nav:hover .nav-links {
      display: flex;
      }
    }

      .banner{
      margin-top: 50px;
      background: #1447a5;
      color: white;
      text-align: center;
      padding: 10px 10px;
      border-radius: 0px 0px;
      box-shadow: 0 4px 15px #0000001a;
      margin-bottom: 50px;
      }

    .todo-section {
      max-width: 1100px;
      width: 90%;
      margin: 10px auto 10px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  .todo-item {
    color: #000000;
    margin-top: 10px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 9px 16px rgba(0,0,0,0.1);
    font-size: 19px;
    padding: 22px 26px;
    border-radius: 12px;
    margin-bottom: 18px;
    width: 100%;
  }
  .delete-icon{
    height: 22px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .delete-icon:hover{
    transform: scale(1.15);
  }

  .todo-item.completed span {
    text-decoration: line-through;
    color: gray;
  }

  .todo-actions img {
    height: 29px;
    cursor: pointer;
    margin-left: 10px;
  }

  .todo-add-container {
    margin-top: 40px;
    background: #1447a5;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 30px;
    width: 100%;
    max-width: 900px; 
    margin: 40px auto 20px auto;
    border-radius: 12px;
    justify-content: center;
    width: 100%;
  }

  #todo-input {
    flex: 1;
    padding: 12px 16px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    min-width: none;
  }

  #add-button {
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .fitness-footer {
    background-color: #394867; 
    color: #ffffff;
    padding: 30px 20px;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    bottom: 0%;
  }

  .footer-box {
    width: 30%;
    margin-bottom: 20px;
  }

  .footer-box h2,
  .footer-box h3 {
    color: #ffffff;
  }

  .footer-box p {
    line-height: 1.5;
    margin: 6px 0;
  }

  .footer-box ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-box ul li {
    margin-bottom: 8px;
  }

  .footer-end {
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #A7AAE1;
    font-size: 14px;
  }
    .fitness-footer a,
  .fitness-footer a:visited {
    color: #F1F6F9 !important;
    text-decoration: none;
    font-weight: 500;
  }

  .fitness-footer a:hover {
    color: #FFD700 !important;
    text-decoration: underline;
  }
