  body {
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
  }
  .nav-bar {
    background-color: #2563EB;
    padding: 45px 30px;
    position: sticky;
    top: 0;
    align-items: center;
  }
  .nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
    justify-content: space-between;
  }
  .nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }
  .nav-bar a:hover {
    color: #FFD700;
  }
.workout-plans{
    margin-top: 50px;
    background: #10B981;
    color: white;
    text-align: center;
    padding: 10px 10px;
    border-radius: 0px 0px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
    .card-container {
      display: flex;
      flex-wrap: wrap; 
      gap: 20px;
      justify-content: center; 
    }
    .card {
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 250px;
      padding: 20px;
      display: flex;
      flex-direction: column; 
      align-items: center; 
      transition: transform 0.2s;
      margin-top: 50px;
      text-align: center;
      margin-left: 30px;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card img {
      width: 100%; 
      height: auto;    
      margin-bottom: 15px;
      border-radius: 8px; 
    }

    .card h2 {
      font-size: 20px;
      margin: 10px 0;
      color: #444;
    }

    .card p {
      text-align: center;
      color: #666;
      font-size: 14px;
    }
    .workout-plans{
    margin-top: 50px;
    background: #10B981;
    color: white;
    text-align: center;
    padding: 10px 10px;
    border-radius: 0px 0px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }
    .card-container {
      display: flex;
      flex-wrap: wrap; 
      gap: 20px;
      justify-content: center; 
    }
    .card {
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 250px;
      padding: 20px;
      display: flex;
      flex-direction: column; 
      align-items: center; 
      transition: transform 0.2s;
      margin-top: 50px;
      text-align: center;
      margin-left: 30px;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card img {
      width: 100%; 
      height: auto;    
      margin-bottom: 15px;
      border-radius: 8px; 
    }

    .card h2 {
      font-size: 20px;
      margin: 10px 0;
      color: #444;
    }

    .card p {
      text-align: center;
      color: #666;
      font-size: 14px;
    }
  
    .footer{
    background-color: #2563EB;
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 3rem;
    border-top: 3px solid var(--rosewater);
  }

  .footer p {
    margin: 0.5rem 0;
    color: white;
  }

  .footer a {
    color: white;
    margin: 0 0.8rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .footer a:hover {
    color: var(--lilac);
  }

